.ax_default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.image {
}
.box_1 {
}
.placeholder {
}
.button {
}
.link_button {
  color:#169BD5;
}
.heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.menu_item {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.icon {
}
.basicbutton {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.basicbutton-color {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
.image1 {
  color:#000000;
}
.paragraph1 {
  text-align:left;
}
.materialicons {
  font-family:'Material Icons Regular', 'Material Icons';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
textarea, select, input, button { outline: none; }
